#flat-container {
    height: 600px;
    margin: auto;
    max-width: 80%;
}

#clef-search-controls {
    display: flex;
    justify-content: center;
}

#clef-search-controls button {
    font-size: 1.25em;
    margin: 8px 10px;
}

