.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-header-inner {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
}

.App-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-title {
  font-size: 2em;
  padding: 0 20px;
}



.App-intro {
  font-size: large;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
#clef-results-container {
  display: flex;
  margin: auto;
  max-width: 80%;
  text-align: left;
}

#clef-inputs-container {
  display: flex;
}

#clef-inputs-container .clef-flat-container {
  flex: 1 0 auto;
}